.titleSection1{
    display: flex;
    justify-content: center;
    /* background-color: brown; */
    /* color: aqua; */
}

.titleSection2{
    display: flex;
    justify-content: space-around;
    grid-template-columns: 50% 50%;
    /* background-color: black;
    color: aqua; */
}

.poem{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 10px;
}

.image{
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    padding: 10px;
}

.subtitleSection{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.subtitleSection1{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding: 30px;
    
}

.subtitleSection2{
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding: 10px;
}

.links{
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

.link1{
    text-decoration: none;
    color: teal;
    padding: 10px;
}

.link1:hover{
    text-decoration: underline;
    cursor: pointer;
    padding: 10px;
}

.link1text{
    padding: 10px;
}

.pic1{
    height: 90px;
    width: 130px;
    padding: 10px;
}

.link2{
    text-decoration: none;
    color: teal;
    padding: 10px;
}

.link2:hover{
    text-decoration: underline;
    cursor: pointer;
    padding: 10px;
}

.link2text{
    padding: 10px;
}

.pic2{
    height: 90px;
    width: 130px;
    padding: 10px;
}

.link3{
    text-decoration: none;
    color: teal;
    padding: 10px;
}

.link3:hover{
    text-decoration: underline;
    cursor: pointer;
    padding: 10px;
}

.link3dis{
    text-decoration: none;
    color: gray;
    padding: 10px;
}

.link3dis:hover{
    pointer-events: none;
    cursor: pointer;
    padding: 10px;
}

.link3text{
    padding: 10px;
}

.pic3{
    height: 90px;
    width: 130px;
    padding: 10px;
}

.join{
    display: flex;
    justify-content: center;
}

.joinButton{
    background-color: teal;
    color: white;
}

.introtext{
    display: flex;
    flex-direction: column;
    justify-content: center;
}