.eventslinkE{
    color: teal;
    padding: 5px;
    
}

.eventslinkE:hover{
    cursor: default;
    padding: 5px;
}

.groupslinkE{
    color: gray;
    padding: 5px;
    
}

.groupslinkE:hover{
    cursor: default;
    padding: 5px;
}

.subtextE{
    color: gray;
    padding: 5px;
    
}

.eventlink{
    text-decoration: none;
    color: black;
    display: flex;
    text-decoration: none;
    flex-direction: column;
    align-items: center;
}

.eventlink:hover{
    cursor: default;
}

.eventimageandinfo{
    display: flex;
    width: 600px;
    height: 200px;
    align-items: center;
}

.eventimage{
display: flex;
justify-content: flex-start;
align-items: center;
width: 260px;
height: 160px;

}

.eventinfo{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
    padding: 30px;
}

.eventdesc{
    display: flex;
    justify-content: flex-start;
    padding: 10px;
    width: 600px;
}

.eventyear{
    display: flex;
    justify-content: flex-end;
    color: teal;
    padding: 10px;
}

.eventname{
    display: flex;
    justify-content: flex-end;
    padding: 10px;
}

.eventlocation{
    color: gray;
    padding: 10px
}